substitutions:
  name: smablue-inverter
  friendly_name: smablue-inverter

esphome:
  name: ${name}
  name_add_mac_suffix: false
  friendly_name: ${friendly_name}


esp32:
  board: esp32dev
  framework:
    type: arduino

external_components:
  source:
    type: git
    url: https://github.com/keerekeerweere/esphome_smabluetooth
  refresh: 1min

# Enable logging
logger:
  level: DEBUG

# Enable Home Assistant API
api:
  encryption: 
    key: !secret api_encryption_key

ota:
  password: !secret ota_password 

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "espcustom Fallback Hotspot"
    password: !secret wifi_password


sensor:
  - platform: smabluetooth_solar
    update_interval: 20s
    sma_inverter_bluetooth_mac: !secret sma_etsolar_bluetoothmac
    sma_inverter_password: !secret sma_etsolar_password

    inverter_status: 
      name: "Inverter Status"

    grid_relay: 
      name: "Grid relay Status"

    phase_a:
      voltage:
          name: "Voltage Phase A"
      current:
          name: "Current Phase A"
      active_power:
          name: "Power Phase A"
    phase_b:
      voltage:
          name: "Voltage Phase B"
      current:
          name: "Current Phase B"
      active_power:
          name: "Power Phase B"
    phase_c:
      voltage:
          name: "Voltage Phase C"
      current:
          name: "Current Phase C"
      active_power:
          name: "Power Phase C"

    pv1:
      voltage:
          name: "Voltage mppt1"
      current:
          name: "Current mppt1"
      active_power:
          name: "Power mppt1"

    pv2:
      voltage:
          name: "Voltage mppt2"
      current:
          name: "Current mppt2"
      active_power:
          name: "Power mppt2"

    active_power:
      name: "Grid Active Power"

    pv_active_power:
      name: "PV Active Power"

    frequency:
      name: "Frequency"

    energy_production_day:
      name: "Today's Generation"

    total_energy_production:
      name: "Total Energy Production"

    inverter_module_temp:
      name: "Inverter Module Temp"